<meta charset="UTF-8">
<title>EJS Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        padding-top: 50px;
    }

    .header {
        font-size: xx-large;
        font-style: italic;
    }

    .tabHeader {
        font-size: xx-large;
        break-after: avoid;
    }

    .section {
        break-inside: avoid
    }

    @media print {
        .menu {
            display: none;
        }

        .header {
            font-size: xx-large;
        }

    }
</style>